node_modules/
.pnp/
dist-ssr/
coverage/
.next/
out/
.vercel/
cypress/
dest/
/build
tmp/
dist/
visualizer/
.github/
.husky/
assets/css/*
!assets/css/responsive.css
!assets/css/style.css
assets/js/jquery-plugin-collection.js
